[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
xgboost = "*"
sklearn = "*"
matplotlib = "*"
seaborn = "==0.12.0"
tqdm = "*"
bentoml = "*"
pydantic = "*"
scikit-learn = "==1.1.2"
bentoctl = "*"
dash = "*"
pandas-datareader = "*"

[dev-packages]

[requires]
python_version = "3.9"
